@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

/* Loader CSS */

.leap-frog {
 --uib-size: 40px;
 --uib-speed: 2s;
 --uib-color: #6889FF;
 position: relative;
 display: flex;
 align-items: center;
 justify-content: space-between;
 width: var(--uib-size);
 height: var(--uib-size);
}

.leap-frog__dot {
 position: absolute;
 top: 0;
 left: 0;
 display: flex;
 align-items: center;
 justify-content: flex-start;
 width: 100%;
 height: 100%;
}

.leap-frog__dot::before {
 content: '';
 display: block;
 height: calc(var(--uib-size) * 0.22);
 width: calc(var(--uib-size) * 0.22);
 border-radius: 50%;
 background-color: var(--uib-color);
 will-change: transform;
}

.leap-frog__dot:nth-child(1) {
 animation: leapFrog var(--uib-speed) ease infinite;
}

.leap-frog__dot:nth-child(2) {
 transform: translateX(calc(var(--uib-size) * 0.4));
 animation: leapFrog var(--uib-speed) ease calc(var(--uib-speed) / -1.5)
    infinite;
}

.leap-frog__dot:nth-child(3) {
 transform: translateX(calc(var(--uib-size) * 0.8)) rotate(0deg);
 animation: leapFrog var(--uib-speed) ease calc(var(--uib-speed) / -3)
    infinite;
}

@keyframes leapFrog {
 0% {
  transform: translateX(0) rotate(0deg);
 }

 33.333% {
  transform: translateX(0) rotate(180deg);
 }

 66.666% {
  transform: translateX(calc(var(--uib-size) * -0.4)) rotate(180deg);
 }

 99.999% {
  transform: translateX(calc(var(--uib-size) * -0.8)) rotate(180deg);
 }

 100% {
  transform: translateX(0) rotate(0deg);
 }
}

/* Responsive Mobile */

@media screen and (max-width: 900px) {

  /* Login */
  #login-form {
    width: 400px;
  }

  /* Register */
  #register-form {
    width: 400px;
  }

  /* Button Component */
  #button {
    width: 100%;
    margin-left: 5%;
    margin-right: 5%;
  }

  /* Dashboard */
  #db-top {
    width: 100%;
    margin: 0;
    display: flex;
    gap: 5%;
    padding-left: 7%;
  }

  #db-mid {
    width: 100%;
    margin: 0;
    padding-right: 1%;
  }

  /* Tambah Wisata & Ubah Wisata */

  #tw-parent, #uw-parent {
    padding-left: 5%;
  }

  #tw-top-2, #uw-top-2 {
    width: 100%;
    height: 10%;
    padding-left: 12%;
  }

  #tw-bot, #uw-bot {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
  }

  #tw-input-1, #uw-input-1 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
  }

  #input-tw, #input-uw {
    display: flex;
     gap: 30px;
     width: 100%;
     padding-left: 12%;
     padding-right: 12%;
  }

  #tw-input-2, #uw-input-2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  #tw-input-alamat-parent, #uw-input-alamat-parent {
    width: 100%;
    height: auto;
    padding-right: 12%;
    padding-left: 12%;
    padding-bottom: 0;
  }
  
  #tw-input-alamat-child, #uw-input-alamat-child {
    width: 100%;
  }

  #tw-pic-parent, #uw-pic-parent {
    width: 100%;
    height: auto;
    padding-left: 12%;
    padding-right: 12%;
  }

  #tw-pic-child, #uw-pic-child {
    width: 100%;
    height: 300px;

  }

  #tw-button-parent, #uw-button-parent {
    width: 100%;
    height: auto;
    padding-top: 0;
    padding-left: 12%;
    padding-right: 12%;
  }

   #tw-button-child, #uw-button-child {
    width: 100%;
   } 

   /* Detail Wisata */

   #d-parent {
    width: 100%;
    display: flex;
    justify-content: flex-start;
   }

   #dt-parent {
    width: 100%;
    height: auto;
    padding: 0;
    padding-top: 8%;
    padding-bottom: 5%;
   }

   #dt-child {
    width: 80%;
    display: flex;
   }

   #dm-parent {
    width: 100%;
    height: auto;
   }

   #dm-child {
    width: 80%;
    margin: 0;
   }

   #dbot-parent {
    width: 100%;
    height: auto;
    padding-top: 5%;
   }

   #dbot-child {
    padding: 0;
    width: 80%;
   }

   #dbot-size {
    font-size: 25px;
   }

   /* Tabel Wisata */

   #tb-font-parent {
    width: 100%;
   }
   
   #tb-font-child {
    padding-left: 12%;
    top: 22%;
   }

  #tb-parent {
    margin-left: 20px;
    box-sizing: border-box;
    width: 80%;
    overflow: scroll;
  }

  #tabel {
    padding-top: 20%;
  }

  

}

@media screen and (max-width: 428px) {
  
  /* Login */
  #login-form {
    width: 310px;
    height: 480px;
  }

  /* Register */
  #register-form {
    width: 310px;
    height: 480px;
  }

  /* Dashboard */

  #db-sidebar {
    display: none;
  }

  #db-top {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  #db-font {
    font-size: 25px;
  }

  #db-nav {
    width: 100%; 
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 3%;
    padding-bottom: 3%;
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
  }

  #db-icon {
    display: flex;
  }

  #db-search {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 5% 0 8% 0;
  }

  #input-search {
    width:200px;
  }
  
  #db-mid  {
    width: 100%;
    margin: 0;
    padding: 0;
    padding-bottom: 10%;
  }

  /* Detail Wisata */

  #dt-parent {
    width: 100%;
    padding: 0;
  }

  #dt-child {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  #dfont-parent {
    width: 100%; 
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 3%;
    padding-bottom: 3%;
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
  }

  #d-font {
    display: flex;
    font-size: 25px;
  }

  #d-icon {
    font-size: 25px;
    height: 100%;
  }

  #d-name {
    width: 100%;
    font-size: 25px;
    padding: 5%;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  #dbot-parent {
    height: auto;
    padding-bottom: 10%;
  }

  #dbot-size {
    font-size: large;
  }

  /* Tambah Wisata & Ubah Wisata */

  #tw-sidebar, #uw-sidebar {
    display: none;
  }

  #tw-parent, #uw-parent {
    width: 100%;
    height: max-content;
    padding: 0;
  }

  #tw-top-1, #uw-top-1 {
    width: 100%; 
    display: flex;
    justify-content: space-between;
    padding: 3% 2% 3% 2%;
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
  }

  #tw-font, #uw-font {
    font-size: 25px
  }

  #tw-top-2, #uw-top-2 {
    width: 100%;
    display: flex;
    padding: 20px;
    justify-content: flex-start;
  }

  #input-tw, #input-uw {
    width: 100%;
    padding: 0 5% 20px 5% ;
    gap: 20px;
  }
  
  #tw-input-2, #uw-input-2 {
    width: 100%;
    gap: 20px;
    padding-bottom: 10%;
  }

  #tw-input-alamat-parent, #uw-input-alamat-parent {
    width: 100%;
    padding: 0 5% 0 5%;
  }

  #tw-input-alamat-child, #uw-input-alamat-child {
    width: 100%;
  }

  #tw-pic-parent, #uw-pic-parent {
    width: 100%;
    height: auto;
    padding: 0 5% 0 5%;
  }

  #tw-pic-child, #uw-pic-child {
    width: 100%;
    height: 250px;
  }

  #tw-button-parent, #uw-button-parent {
    width: 100%;
    padding: 0 5% 0 5%;
  }

  /* Hamburger Sidebar */
  #sb-parent {
    width: 70%;
    height: 100vh;
    background-color: white;
    padding: 0;
    padding: 25px;
  }

  #sb-font {
    display: flex;
    font-size: 25px;
  }

  #sb-icon-parent-2 {
    width: 100%;
    padding: 0 0 25px;
  }

  #sb-icon-child {
    display: flex;
    gap: 10px;
    font-size: 25px;
    width: auto;
    padding-left: 7px;
    justify-items: center;
  }

  #sb-icon-child-2 {
    display: flex;
    font-size: 20px;
    justify-content: center;
  }

  #sb-icon-child-3 {
    display: none;
  }

  #icon-sb {
    font-size: 30px;
  }

  #icon-sb-2 {
    display: none;
  }

  #icon-sb-3 {
    font-size: 30px;
  }

  #sb-icon-child-4 {
    display: flex;
    font-size: 20px;
    justify-content: center;
  }

  #sb-logout {
    height: auto;
    width: 100%;
    display: flex;
    gap: 10px;
    padding-left: 7px;
    justify-items: center;
    font-size: 25px;
  }
  
  /* Tabel */
  #tb-sidebar {
    display: none;
  }

  #tb-font-parent {
    width: 90%;
    margin: 0;
    display: flex;
   }
   
   #tabel {
    padding: 0;
    padding-top: 8%;
   }

   #tb-font-child {
    width: 90%;
    padding: 0;
   }

   #tb-parent {
    margin: 0;
    padding: 5% 0 5% 0;
    width: 90%;
   }

   #tb-nav {
    width: 100%; 
    display: flex;
    top: 0;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 3%;
    padding-bottom: 3%;
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
   }

   #tb-icon {
    display: flex;
    font-size: 25px;
    height: 100%;
   }

   #tb-font {
    font-size: 25px;
   }
}


@media screen and (max-width:375px) {
  #login-form {
    width: 295px;
    height: 460px;
  }

  #register-form {
    width: 295px;
    height: 460px;
  }
}

@media screen and (max-width:360px) {
  #login-form {
    width: 280px;
    height: 460px;
  }

  #register-form {
    width: 295px;
    height: 460px;
  }
}