@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

/* Loader CSS */

.leap-frog {
 --uib-size: 40px;
 --uib-speed: 2s;
 --uib-color: #6889FF;
 position: relative;
 display: flex;
 align-items: center;
 justify-content: space-between;
 width: var(--uib-size);
 height: var(--uib-size);
}

.leap-frog__dot {
 position: absolute;
 top: 0;
 left: 0;
 display: flex;
 align-items: center;
 justify-content: flex-start;
 width: 100%;
 height: 100%;
}

.leap-frog__dot::before {
 content: '';
 display: block;
 height: calc(var(--uib-size) * 0.22);
 width: calc(var(--uib-size) * 0.22);
 border-radius: 50%;
 background-color: var(--uib-color);
 will-change: transform;
}

.leap-frog__dot:nth-child(1) {
 animation: leapFrog var(--uib-speed) ease infinite;
}

.leap-frog__dot:nth-child(2) {
 transform: translateX(calc(var(--uib-size) * 0.4));
 animation: leapFrog var(--uib-speed) ease calc(var(--uib-speed) / -1.5)
    infinite;
}

.leap-frog__dot:nth-child(3) {
 transform: translateX(calc(var(--uib-size) * 0.8)) rotate(0deg);
 animation: leapFrog var(--uib-speed) ease calc(var(--uib-speed) / -3)
    infinite;
}

@keyframes leapFrog {
 0% {
  transform: translateX(0) rotate(0deg);
 }

 33.333% {
  transform: translateX(0) rotate(180deg);
 }

 66.666% {
  transform: translateX(calc(var(--uib-size) * -0.4)) rotate(180deg);
 }

 99.999% {
  transform: translateX(calc(var(--uib-size) * -0.8)) rotate(180deg);
 }

 100% {
  transform: translateX(0) rotate(0deg);
 }
}

/* Responsive Mobile */

@media screen and (max-width: 900px) {

  /* Login */
  #login-form {
    width: 400px;
  }

  /* Register */
  #register-form {
    width: 400px;
  }

  /* Button Component */
  #button {
    width: 100%;
    margin-left: 5%;
    margin-right: 5%;
  }

  /* Dashboard */
  #db-top {
    width: 100%;
    margin: 0;
    display: flex;
    gap: 5%;
    padding-left: 7%;
  }

  #db-mid {
    width: 100%;
    margin: 0;
    padding-right: 1%;
  }

  /* Tambah Wisata & Ubah Wisata */

  #tw-parent, #uw-parent {
    padding-left: 5%;
  }

  #tw-top-2, #uw-top-2 {
    width: 100%;
    height: 10%;
    padding-left: 12%;
  }

  #tw-bot, #uw-bot {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
  }

  #tw-input-1, #uw-input-1 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
  }

  #input-tw, #input-uw {
    display: flex;
     gap: 30px;
     width: 100%;
     padding-left: 12%;
     padding-right: 12%;
  }

  #tw-input-2, #uw-input-2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  #tw-input-alamat-parent, #uw-input-alamat-parent {
    width: 100%;
    height: auto;
    padding-right: 12%;
    padding-left: 12%;
    padding-bottom: 0;
  }
  
  #tw-input-alamat-child, #uw-input-alamat-child {
    width: 100%;
  }

  #tw-pic-parent, #uw-pic-parent {
    width: 100%;
    height: auto;
    padding-left: 12%;
    padding-right: 12%;
  }

  #tw-pic-child, #uw-pic-child {
    width: 100%;
    height: 300px;

  }

  #tw-button-parent, #uw-button-parent {
    width: 100%;
    height: auto;
    padding-top: 0;
    padding-left: 12%;
    padding-right: 12%;
  }

   #tw-button-child, #uw-button-child {
    width: 100%;
   } 

   /* Detail Wisata */

   #detail-parent {
    width: 100%;
    display: flex;
    justify-content: start;
   }

   #detail-top-parent {
    width: 100%;
    height: auto;
    padding: 0;
    padding-top: 8%;
    padding-bottom: 5%;
   }

   #detail-top-child {
    width: 80%;
    display: flex;
   }

   #detail-top-size {
    font-size: 45px
   }

   #detail-mid-parent {
    width: 100%;
    height: auto;
   }

   #detail-mid-child {
    width: 80%;
    margin: 0;
   }

   #detail-bot-parent {
    width: 100%;
    height: auto;
    padding-top: 5%;
   }

   #detail-bot-child {
    padding: 0;
    width: 80%;
   }

   #detail-bot-size {
    font-size: 25px;
   }

   /* Tabel Wisata */

}

@media screen and (max-width: 428px) {
  
  /* Login */
  #login-form {
    width: 345px;
  }

  /* Register */
  #register-form {
    width: 345px;
  }

  /* Dashboard */

  #db-sidebar {
    display: none;
  }

  #db-top {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  #db-font {
    font-size: 25px;
  }

  #db-nav {
    width: 100%; 
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 3%;
    padding-bottom: 3%;
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
  }

  #db-icon {
    display: flex;
  }

  #db-search {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 5% 0 8% 0;
  }

  #input-search {
    width:200px;
  }
  
  #db-mid  {
    width: 100%;
    margin: 0;
    padding: 0;
    padding-bottom: 10%;
  }

  /* Detail Wisata */

  #detail-top-parent {
    width: 100%;
    padding: 0;
  }

  #detail-top-child {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  #detail-font-parent {
    width: 100%; 
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 3%;
    padding-bottom: 3%;
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
  }

  #detail-font {
    display: flex;
    font-size: 25px;
  }

  #detail-top-icon {
    font-size: 25px;
    height: 100%;
  }

  #detail-top-name {
    width: 100%;
    font-size: 25px;
    padding: 5%;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  #detail-bot-parent {
    height: auto;
    padding-bottom: 10%;
  }

  #detail-bot-size {
    font-size: x-large;
  }

  /* Tambah Wisata */

  #tw-sidebar {
    display: none;
  }

  #tw-top-1 {
    width: 100%;
    background-color: red;
  }

  #tw-top-2 {
    padding: 0;
    margin: 0;
  }

  #input-tw {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  

}
